<div class="container overflow-y">
    <h4 class="text-center pb-3">
        בחר את הספרים שברצונך להוסיף לרשימה
    </h4>
  <div *ngFor="let book of addableBooks">
    <div class="row">
      <p class="mx-auto col">
        <mat-card (click)="onClick(book.bookId)" [ngClass]="selectedBooks.includes(book.bookId)?'selected':''">
          <mat-card-title>
            {{ book.bookName }}
          </mat-card-title>
          <mat-card-subtitle>
            {{ book.author | authorNameById | async }}
          </mat-card-subtitle>
        </mat-card>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto">
      <button color="primary" mat-raised-button (click)="onConfirm()">
        <span  class="col-2">
            אישור
        </span>
      </button>
    </div>
  </div>
</div>
