<div *ngIf="users" class="fullSize">
  <div class="row pl-3 fullSize">
    <div class="cardContainer pt-3 px-1" *ngIf="selectedUser">
      <!-- Here goes list of books the user is reading -->
      <div class="row px-3">
        <div class="addBtnContainer">
          <button
            mat-raised-button
            color="primary"
            id="addBooks"
            class="addBtn"
            (click)="openAddBookDialog()"
            *ngIf="selectedUser.userId === loggedInUser.userId"
          >
            הוסף ספר
          </button>
        </div>
        <div class="col-7 text-right">
          <span>
            <h5>
              <bdi>רשימת הספרים של</bdi>
            </h5>
          </span>
          <span>
            <h5>
              <bdi>
                <strong>{{ selectedUser.userName }} </strong>
              </bdi>
            </h5>
          </span>
        </div>
      </div>
      <div id="userBooks">
        <div class="">
          <div
            class="pt-3"
            *ngIf="selectedUser.bookList.length; else noBooksInList"
          >
            <div *ngFor="let bookId of selectedUser.bookList" id="bookList">
              <mat-card class="Card">
                <mat-card-header class="d-flex text-right">
                  <mat-card-title class="text-right">{{
                    bookId | getBookPropertyById: "bookName" | async
                  }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="d-flex">
                  <span class="justify-self-start">
                    <button
                      class="blackText"
                      mat-button
                      [disabled]="loggedInUser.userId !== selectedUser.userId"
                      (click)="deleteBookFromList(bookId)"
                    >
                      <div class="iconBtnWithText">
                        <mat-icon
                          aria-hidden="false"
                          aria-label="icon"
                          class="redIcon"
                          >delete</mat-icon
                        >
                        <span> מחק </span>
                      </div>
                    </button>
                    <button
                      class="blackText"
                      mat-button
                      [disabled]="loggedInUser.userId !== selectedUser.userId"
                      (click)="changeFavoriteBook(bookId)"
                    >
                      <div class="iconBtnWithText">
                        <mat-icon
                          aria-hidden="false"
                          aria-label="icon"
                          [ngClass]="
                            bookId === selectedUser.favoriteBook ? 'yellow' : ''
                          "
                          >{{
                            bookId === selectedUser.favoriteBook
                              ? "star"
                              : "star_border"
                          }}</mat-icon
                        >
                        <span> מועדף </span>
                      </div>
                    </button>
                  </span>
                  <div class="col justify-content-end">
                    <div class="cardSubtext">
                      <bdi>
                        {{
                          bookId
                            | getBookPropertyById: "author"
                            | async
                            | authorNameById
                            | async
                        }}
                      </bdi>
                      <bdi> סופר/ת: </bdi>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Here goes list of users -->

    <div
      class="cardContainer"
      [ngClass]="!!selectedUser ? 'containerLeftBorder' : ''"
    >
      <div class="pt-3">
        <div *ngFor="let user of users" id="userList">
          <mat-card
            class="Card"
            [ngClass]="
              selectedUser
                ? selectedUser.userId === user.userId
                  ? 'selectedCard'
                  : ''
                : ''
            "
          >
            <mat-card-header
              class="d-flex text-right"
              (click)="selectUser(user)"
            >
              <mat-card-title class="text-right">{{
                user.userName
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="d-flex">
              <span class="justify-self-start">
                <button
                  class="blackText"
                  mat-button
                  [disabled]="user.userId !== loggedInUser.userId"
                  (click)="deleteUser(user)"
                >
                  <div class="iconBtnWithText">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="icon"
                      class="redIcon"
                      >delete</mat-icon
                    >
                    <span> מחק </span>
                  </div>
                </button>
                <button
                  class="blackText"
                  mat-button
                  [disabled]="user.userId !== loggedInUser.userId"
                  (click)="openEditUsernameDialog(user)"
                >
                  <div class="iconBtnWithText">
                    <mat-icon aria-hidden="false" aria-label="icon"
                      >edit</mat-icon
                    >
                    <span> ערוך </span>
                  </div>
                </button>
              </span>
              <div class="col justify-content-end" (click)="selectUser(user)">
                <div class="cardSubtext">
                  {{ user.userId }}
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noBooksInList>
  <div class="row">
    <bdi class="mx-auto word-break"
      >אין ל{{
        selectedUser.userId === loggedInUser.userId
          ? "ך"
          : selectedUser.userName
      }}
      ספרים ברשימה</bdi
    >
  </div>
</ng-template>
