mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}


.sidenavTab {
  float: right;
  border-bottom:black 1px solid;
}

.titleShadow{
    font-size: 30px;
    margin-left: auto;
}

:host ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content {
  justify-content: flex-end;
}

mat-sidenav-container {
  background-color: white;
  border: black;
  margin-right: 1px;
  height: 94vh;
  border: 1px solid #555;
}

.sidenav {
  background-color: white;
  border-left: solid 1px black;
  padding: 0;
  flex: 0 0 20%;
  max-width: 20%;
}

.noPadding{
    padding:0;
}

.logOutBtn{
    background-color: #ff8351;
    border: 1px solid black;
    outline:none;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
}

.logOutBtnContainer{
    flex:17%;
    max-width: 17%;
    position: relative;
    width: 100%;
    padding-right: 15px;
}

.noOverflow{
    overflow-x: hidden;
    height: 100%;
}