<div *ngIf="isLogged; else notLogged">
  <nav class="navbar navbar-light bg-light">
    <div class="logOutBtnContainer">
      <button
        mat-raised-button
        color="primary"
        id="logOutBtn"
        class="logOutBtn"
        (click)="logOut()"
      >
        התנתק
      </button>
    </div>
    <div class="text-right">
      <b>{{" "+ currentUser.userName +" "}}</b>
      <bdi> ברוכ/ה הבא/ה </bdi>
      <div *ngIf="currentUser.favoriteBook; else noFavBook">
        {{ currentUser.favoriteBook | getBookPropertyById: "bookName" | async }}
        :<bdi> הספר המועדף עליך הוא</bdi>
      </div>
    </div>
    <h3 class="titleShadow">הספריה</h3>
  </nav>
  <mat-sidenav-container>
    <mat-sidenav
      mode="side"
      position="end"
      opened
      class="col sidenav"
    >
      <mat-nav-list class="noPadding" *ngFor="let tab of tabs">
        <a
          mat-list-item
          disableRipple="true"
          [routerLink]="tab.route"
          class="sidenavTab"
        >
          {{ tab.name }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <main class="noOverflow">
        <router-outlet ></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<ng-template #notLogged>
  <router-outlet></router-outlet>
</ng-template>

<ng-template #noFavBook>
  <div>אין לך ספר אהוב</div>
</ng-template>
