

.Card {
    max-width: 80%;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 0;
    padding: 0;
    border: 1px black solid;
    text-align: right;
  }
  
  mat-card-title {
    margin-bottom: 0 !important;
  }
  
  mat-card-header {
    justify-content: flex-end;
  }
  
  mat-card-content {
    margin-bottom: 0px;
  }
  
  
  .iconBtnWithText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iconBtnWithText > span {
    font-size: 14px;
  }
  
  
  #addItem{
    background-color: #3f51b5 !important;
  }
  