<div *ngIf="managedData" class="fullSize">
  <div class="row pl-3 fullSize">
    <div class="cardContainer pt-3 px-1" *ngIf="selected">
      <!-- Here goes list of books the user is reading -->
      <div class="row px-3">
        <div class="col text-right">
          <span>
            <h5>
              <bdi>
                {{
                  pageType === "books"
                    ? " הקוראים של הספר "
                    : pageType === "authors"
                    ? " הספרים של "
                    : ""
                }}
              </bdi>
            </h5>
          </span>
          <span>
            <h5>
              <strong>
                :
                <bdi>
                  {{
                    pageType === "books"
                      ? selected.bookName
                      : pageType === "authors"
                      ? selected.authorName
                      : ""
                  }}
                </bdi>
              </strong>
            </h5>
          </span>
        </div>
      </div>
      <div id="relatedDataCards">
        <div>
          <div class="pt-3" *ngIf="relatedData.length; else noContents">
            <div *ngFor="let data of relatedData" id="relatedDataList">
              <mat-card class="Card">
                <mat-card-header class="d-flex text-right">
                  <mat-card-title class="text-right">
                    <strong>
                      <bdi>
                        {{
                          pageType === "books"
                            ? data.userName
                            : "שם: " + data.bookName
                        }}
                      </bdi>
                    </strong>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content class="d-flex">
                  <span class="justify-self-start">
                    <button
                      class="blackText"
                      mat-button
                      [disabled]="false"
                      (click)="deleteRelatedItem(data)"
                    >
                      <div class="iconBtnWithText">
                        <mat-icon
                          aria-hidden="false"
                          aria-label="icon"
                          class="redIcon"
                          >delete</mat-icon
                        >
                        <span> מחק </span>
                      </div>
                    </button>
                  </span>
                  <div class="col justify-content-end">
                    <div>
                      <bdi>
                        <div *ngIf="pageType === 'books'">
                          {{ data.userId }}
                        </div>
                        <div *ngIf="pageType === 'authors'">
                          מזהה :
                          {{ data.bookId }}
                        </div>
                      </bdi>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Here goes list of users -->

    <div
      class="cardContainer"
      [ngClass]="!!selected ? 'containerLeftBorder' : ''"
    >
      <div class="pt-3">
        <div *ngFor="let managedItem of managedData" id="itemList">
          <mat-card
            class="Card"
            [ngClass]="
              selected
                ? pageType === 'books'
                  ? selected.bookId === managedItem.bookId
                    ? 'selectedCard'
                    : ''
                  : pageType === 'authors'
                  ? selected.authorId === managedItem.authorId
                    ? 'selectedCard'
                    : ''
                  : ''
                : ''
            "
          >
            <mat-card-header
              class="d-flex text-right"
              (click)="selectCard(managedItem)"
            >
              <mat-card-title class="text-right">{{
                pageType === "books"
                  ? managedItem.bookName
                  : pageType === "authors"
                  ? managedItem.authorName
                  : ""
              }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="d-flex">
              <span class="justify-self-start">
                <button
                  class="blackText"
                  mat-button
                  (click)="deleteItem(managedItem)"
                >
                  <div class="iconBtnWithText">
                    <mat-icon
                      aria-hidden="false"
                      aria-label="icon"
                      class="redIcon"
                      >delete</mat-icon
                    >
                    <span> מחק </span>
                  </div>
                </button>
                <button
                  class="blackText"
                  mat-button
                  (click)="openEditItemDialog(managedItem)"
                >
                  <div class="iconBtnWithText">
                    <mat-icon aria-hidden="false" aria-label="icon"
                      >edit</mat-icon
                    >
                    <span> ערוך </span>
                  </div>
                </button>
              </span>
              <div
                class="col justify-content-end"
                (click)="selectCard(managedItem)"
              >
                  <ng-container
                    [ngTemplateOutlet]="
                      pageType === 'authors' ? authorSubtext : bookSubtext
                    "
                    [ngTemplateOutletContext]="{ managedItem: managedItem }"
                  >
                  </ng-container>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="addBtnContainer mx-auto">
          <button
            mat-raised-button
            color="primary"
            id="addItem"
            class="addBtn"
            (click)="openCreateItemDialog()"
          >
            {{ pageType === "books" ? "הוסף ספר" : "הוסף סופר" }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noContents>
  <div class="row">
    <bdi class="mx-auto word-break"
      >אין ל
      {{
        pageType === "books"
          ? selected.bookName + " קוראים "
          : pageType === "authors"
          ? selected.authorName + " ספרים "
          : ""
      }}
    </bdi>
  </div>
</ng-template>

<ng-template #authorSubtext let-managedItem="managedItem">
  <bdi class="word-break">
    {{ " " + managedItem.authorId + " " }}
  </bdi>
</ng-template>

<ng-template #bookSubtext let-managedItem="managedItem">
  <bdi class="word-break">
    <p class="m-0">
      מזהה :
      {{ " " + managedItem.bookId + " " }}
    </p>
    <p class="m-0">
      סופר/ת :
      {{ managedItem.author | authorNameById | async }}
    </p>
  </bdi>
</ng-template>
