.center {
//   margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

mat-label{
  color: black;
}

#loginBtn{
  min-height: 2.5rem;
}

#loginTitle{
  font-size: 80px;
}

mat-option{
  text-align: left;
}

mat-form-field{
  text-align: right !important;
}

mat-label{
  padding-right: 20px;;
}