<div class="container">
  <div class="mx-auto center">
    <div class="row">
      <h1 class="titleShadow" id="loginTitle">הספריה</h1>
    </div>
    <div class="row">
      <mat-form-field appearance="fill" class="mx-auto py-3 col-12">
        <mat-label>בחר משתמש להתחברות</mat-label>
        <mat-select [(value)]="selectedUser" name="users">
          <mat-option *ngFor="let user of users" [value]="user" class="text-right">
            {{ user.userName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <button
        mat-raised-button
        color="primary"
        id="loginBtn"
        class="mx-auto col-8"
        (click)="sendUser()"
      >
        התחבר
      </button>
    </div>
  </div>
</div>
