@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  margin: 0;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.titleShadow {
  text-shadow: 4px 3.5px 4px rgba(0, 0, 0, 0.65);
  font-weight: bolder;
}

.addBtn {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #0c59cf;
  height: 38px;
  border: black 1px solid !important;
  color: white;
}

.addBtnContainer {
  position: relative;
  width: 100%;
  padding-right: 5px;
  padding-left: 15px;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

button {
  outline: none !important;
}

.cardContainer {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-left: 0 !important;
}

.containerLeftBorder {
  border-left: black 1px solid;
}

.fullSize {
  height: 100%;
}

.yellow {
  color: #f4eb49;
}

.blackText {
  color: black !important;
}

.cardSubtext {
  margin-right: 16px;
}

.redIcon {
  color: red;
}

.selectedCard {
  background-color: #0c59cf;
  color: white;
}

.noPadding {
  padding: 0;
}
