<div class="container">
  <form class="form" [formGroup]="modalFormControl">
    <div *ngFor="let field of data.fields">
      <div class="row">
        <ng-container
          [ngTemplateOutlet]="!field.dropDownValues ? textInput : selectInput"
          [ngTemplateOutletContext]="{ field: field }"
        >
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="mx-auto">
        <button
          color="primary"
          mat-raised-button
          (click)="handleConfirm()"
          [disabled]="!canConfirm"
        >
          <span class="col-2"> אישור </span>
        </button>
      </div>
    </div>
  </form>
</div>

<ng-template #selectInput let-field="field" [formGroup]="modalFormControl">
  <mat-form-field appearance="fill" class="ml-auto pr-select text-right col-11">
    <mat-label class="selectLabel">{{ field.title }}</mat-label>
    <mat-select [formControlName]="field.propertyName" [value]="field.propertyName.value">
      <mat-option [value]="0" class="text-center">
        ----
      </mat-option>
      <mat-option
        *ngFor="let value of field.dropDownValues"
        [value]="value"
        class="text-right"
      >
        {{ value | authorNameById | async }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>

<ng-template #textInput let-field="field" [formGroup]="modalFormControl">
  <mat-form-field class="mx-auto text-right">
    <mat-label>{{ field.title }}</mat-label>
    <input matInput [formControlName]="field.propertyName" />
  </mat-form-field>
</ng-template>
